<hr/>
<div class="uk-container uk-container_center">
The contents of this website is edited by &copy;2015 huanying<br/>
under the terms of the <a href="/LICENSE.txt">GPL2 License</a><br/>
Hosted By <a target="_blank" href="https://github.com/chenyanclyz/yinysunny.github.io"><i class="uk-icon-github"></i> GitHub</a> and <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Da0bjJ79wgAAcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAtt7adflbsgqngqExHzB0EL6fUCl2keXsysU0O4h16%2FBx6ijQktfa3%2Flmxm5IIArWjDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2BX11FSyvDCnQiv%2BJKjlPObGDmntuH4VtA%3D%3D" target="_blank" >aliyun</a><br/>
<a target="_blank" href="https://github.com/yinysunny/yinysunny.github.io/issues">Feedback here</a>
</div>
<br/>
