<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<meta name="hostname" content="yiny.net" />
<meta name="description" content="黄映的个人博客"  />
<meta name="keywords" content="yiny,{{ page.keywords | join: ',' }}" />
<title>
{% if page.title %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}         
</title>
<link rel="stylesheet" href="/css/feling.css" media="all">
<link rel="icon" 
      type="image/png" 
      href="/favicon.png">
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/feling.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
</script>
