<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body style="margin-top:40px;">
    <header class="uk-modal-header">
    {% include header.html %}
    </header>
    <br/>
    <div class="uk-container uk-container-center">
        <div class="uk-flex uk-grid-small">
            <div class="uk-visible-large" style="width:31%; margin-right:20px">{% include left.html %}</div>
            <div style="width:100%;">{{ content }}</div>
        </div>
    </div>
    <br/>
    <footer class="uk-modal-footer">
    {% include footer.html %}
    </footer>
</body>
</html>
