---
layout: default_with_left
---
<h2 class="uk-article-title">{{ page.title }}</h2>
<p class="uk-article-meta">{{ page.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;|&nbsp;&nbsp;
{% for tag in page.tags %}
{% case tag %}
    {% when 'proxy' %}
        <a href="/2015/05/proxy.html">{{ tag }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% when 'project' %}
        <a href="/2015/05/project-index.html">{{ tag }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% else %}
        <a href="/#{{ tag }}">{{ tag }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endcase %}
{% endfor%}
</p>
<hr/>
<article class="uk-article markdown-body" style="word-wrap:break-word;">
<a></a>
{{ content }}
</article>
